<%= form_for(@protocolo) do |f| %>
  <% if @protocolo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@protocolo.errors.count, "error") %> prohibited this protocolo from being saved:</h2>

      <ul>
      <% @protocolo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome %><br>
    <%= f.text_field :nome %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
